server:
  port: 8082

spring:
  application:
    name: url-service

  datasource:
    url: jdbc:postgresql://localhost:5432/snapUrl
    username: postgres
    password: "*Prabh220300#"
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

eureka:
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${server.port}

logging:
  level:
    org:
      hibernate:
        SQL: DEBUG
        type:
          descriptor:
            sql:
              BasicBinder: TRACE

kafka:
  traceId: a8f3c1e2-9b4d-4e3a-8c1f-91a7d0e4b123
