@import "tailwindcss";

.gradient-bg {
 background: linear-gradient(135deg, hsl(174, 72%, 50%) 0%, hsl(252, 80%, 65%) 100%);
}

.gradient-bg-hover {
 background: linear-gradient(135deg, hsl(200, 72%, 50%) 0%, hsl(260, 80%, 65%) 100%);
}

.gradient-text {
  background: linear-gradient(135deg, hsl(174, 72%, 50%) 0%, hsl(252, 80%, 65%) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; 
  color: transparent;
}

.gradient-hero{
    background: linear-gradient(135deg, hsl(220, 60%, 98%) 0%, hsl(252, 60%, 96%) 50%, hsl(174, 40%, 95%) 100%);;
}

.gradient-nav {
 background: linear-gradient(135deg, hsla(174, 72%, 50%, 0.048) 0%, hsla(252, 80%, 65%, 0.026) 100%);
}
