server:
  port: 8080

spring:
  application:
    name: api-gateway

  main:
    web-application-type: reactive

  cloud:
    gateway:
      routes:
        - id: user-service
          uri: lb://USER-SERVICE
          predicates:
            - Path=/api/v1/auth/**

        - id: url-service
          uri: lb://URL-SERVICE
          predicates:
            - Path=/api/v1/url/**

        - id: short-url-service
          uri: lb://URL-SERVICE
          predicates:
            - Path=/{shortUrl}
#      globalcors:
#        add-to-simple-url-handler-mapping: true
#        corsConfigurations:
#          '[/**]':
#            allowedOrigins:
#              - http://localhost:5173
#            allowedMethods:
#              - GET
#              - POST
#              - PUT
#              - DELETE
#              - OPTIONS
#            allowedHeaders:
#              - "*"
#            allowCredentials: true


eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${server.port}

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    reactor.netty.http.client: INFO

kafka:
  traceId: a8f3c1e2-9b4d-4e3a-8c1f-91a7d0e4b123

jwt:
  access:
    secret: access-secret-key-very-long-and-secure
    expiration: 900000
